* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
     }
   
   body {
    background-image: url('/images/mohit-kumar-Gsm7z0nvXNU-unsplash.jpg');
    background-repeat: no-repeat;
     justify-content: center;
     align-items: center;
     display: flex;
     min-height: 100vh;
       }
.box {
    background-color: #f7f7f7;
    padding-left: 60px;
    padding: 60px;
    border: solid black;
     border-radius: 40px;
    box-shadow: 12px 12px 2px 1px;
    
}

.box h2 {
    margin-bottom: 40px;
   text-align: center;
   font-size: 26px;
   color: #180c0c;
   font-family: 'Trebuchet MS','Time New Roman',sans-serif;
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: 1px solid;
    border-radius:20px;
    outline: none;
    font-size: 22px;
}
 input ::placeholder {
     font-size: 26px;
 }

 #btnGen {
     display: flex;
     font-size: 20px;
     font-weight: 500;
     font-family: 'Trebuchet MS','Time New Roman',sans-serif;
     background-color: #f6e5ed;
     color: #000000;
     justify-content: center;
     cursor: pointer;
     text-align: center;
     margin-top: 40px;
     width: 150px;
     height: 50px;
     padding-top: 10px;
     margin-left: 30%;
     border-radius:30px;
 }
 #btnGen:hover {
     color: #000000;
     background-color:#e9afaf;
 }